<!DOCTYPE html>
<html
    lang="ko"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <th:block th:include="fragments/common/head"></th:block>

        <title>상품 세부정보 - 코코팜</title>

        <style>
            .regitTable {
                margin: 0 auto;
            }

            .regitTable-label {
                margin: 0 5rem;
                text-align: center;
            }

            .btnCenter {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <th:block th:include="fragments/common/header"></th:block>

        <!-- ##### Blog Area Start ##### -->
        <div class="blog-area section-padding-80">
            <div class="container" th:object="${displayDto}">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <!-- Single Blog Area -->
                                <div class="single-blog-area mb-80">
                                    <!-- Thumbnail -->
                                    <div class="blog-thumbnail">
                                        <img
                                            th:src="*{imageUrl}"
                                            width="400px"
                                            height="400px"
                                        />
                                    </div>
                                </div>
                            </div>
                            <form
                                th:action=" @{/customer/order/new}"
                                method="POST"
                            >
                                <div class="col-lg-6">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="blog-content">
                                                    <h5>상품 이름 :</h5>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="blog-content">
                                                    <h5 th:text="*{name}"></h5>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="blog-content">
                                                    <h5>판매가 :</h5>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="blog-content">
                                                    <h5 th:text="*{price}"></h5>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="blog-content">
                                                    <h5>재고 :</h5>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="blog-content">
                                                    <h5 th:text="*{stock}"></h5>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="blog-content">
                                                    <h5>구매 수량 :</h5>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="blog-content">
                                                    <input
                                                        type="hidden"
                                                        name="productId"
                                                        th:value="*{id}"
                                                    />
                                                    <input
                                                        type="hidden"
                                                        name="productName"
                                                        th:value="*{name}"
                                                    />
                                                    <input
                                                        type="number"
                                                        name="quantity"
                                                        max="*{stock}"
                                                    />
                                                    <input
                                                        type="hidden"
                                                        name="price"
                                                        th:value="*{price}"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6">
                                                <button
                                                    class="btn delicious-btn mt-30"
                                                    type="submit"
                                                >
                                                    구매하기
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <button
                                                    formaction="/customer/basket"
                                                    formmethod="POST"
                                                    class="btn delicious-btn mt-30"
                                                    type="submit"
                                                >
                                                    장바구니
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div
                        class="accordions mb-80"
                        id="accordion"
                        role="tablist"
                        aria-multiselectable="true"
                    >
                        <!-- Single Accordian Area -->
                        <div class="panel single-accordion">
                            <h6>
                                <a
                                    role="button"
                                    class=""
                                    aria-expanded="true"
                                    aria-controls="collapseOne"
                                    data-toggle="collapse"
                                    data-parent="#accordion"
                                    href="#collapseOne"
                                    >상세 정보
                                    <span class="accor-open"
                                        ><i
                                            class="fa fa-plus"
                                            aria-hidden="true"
                                        ></i
                                    ></span>
                                    <span class="accor-close"
                                        ><i
                                            class="fa fa-minus"
                                            aria-hidden="true"
                                        ></i
                                    ></span>
                                </a>
                            </h6>
                            <div
                                id="collapseOne"
                                class="accordion-content collapse show"
                            >
                                <p th:text="${product.getDescription()}"></p>
                            </div>
                        </div>

                        <!-- Single Accordian Area -->
                        <div class="panel single-accordion">
                            <h6>
                                <a
                                    role="button"
                                    class="collapsed"
                                    aria-expanded="true"
                                    aria-controls="collapseTwo"
                                    data-parent="#accordion"
                                    data-toggle="collapse"
                                    href="#collapseTwo"
                                    >구매 안내
                                    <span class="accor-open"
                                        ><i
                                            class="fa fa-plus"
                                            aria-hidden="true"
                                        ></i
                                    ></span>
                                    <span class="accor-close"
                                        ><i
                                            class="fa fa-minus"
                                            aria-hidden="true"
                                        ></i
                                    ></span>
                                </a>
                            </h6>
                            <div
                                id="collapseTwo"
                                class="accordion-content collapse"
                            >
                                <p>구현해야함</p>
                            </div>
                        </div>

                        <!-- Single Accordian Area -->
                        <div class="panel single-accordion">
                            <h6>
                                <a
                                    role="button"
                                    aria-expanded="true"
                                    aria-controls="collapseThree"
                                    class="collapsed"
                                    data-parent="#accordion"
                                    data-toggle="collapse"
                                    href="#collapseThree"
                                    >상품 후기
                                    <span class="accor-open"
                                        ><i
                                            class="fa fa-plus"
                                            aria-hidden="true"
                                        ></i
                                    ></span>
                                    <span class="accor-close"
                                        ><i
                                            class="fa fa-minus"
                                            aria-hidden="true"
                                        ></i
                                    ></span>
                                </a>
                            </h6>
                            <div
                                id="collapseThree"
                                class="accordion-content collapse"
                            >
                                <div class="row">
                                    <div class="col-12 mt-30">
                                        <h1>리뷰</h1>
                                        <table class="regitTable">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        <label
                                                            class="regitTable-label"
                                                            >제목</label
                                                        >
                                                    </td>
                                                    <td>
                                                        <label
                                                            class="regitTable-label"
                                                            >별점</label
                                                        >
                                                    </td>
                                                    <td>
                                                        <label
                                                            class="regitTable-label"
                                                            >작성자</label
                                                        >
                                                    </td>
                                                    <td>
                                                        <label
                                                            class="regitTable-label"
                                                            >작성일자</label
                                                        >
                                                    </td>
                                                    <td>
                                                        <label
                                                            class="regitTable-label"
                                                            >상품평</label
                                                        >
                                                    </td>
                                                </tr>
                                            </thead>
                                            <th:block
                                                th:each="review : ${reviewList}"
                                            >
                                                <tbody>
                                                    <tr>
                                                        <td
                                                            th:text="${review.getTitle()}"
                                                        >
                                                            제목
                                                        </td>
                                                        <td
                                                            th:text="${review.getStarPoint()}"
                                                            align="center"
                                                        >
                                                            별점
                                                        </td>
                                                        <td
                                                            th:text="${review.getUser().getName()}"
                                                            align="center"
                                                        >
                                                            작성자
                                                        </td>
                                                        <td
                                                            th:text="${review.getCreateDateTime()}"
                                                            align="center"
                                                        >
                                                            작성일자
                                                        </td>
                                                        <td
                                                            th:text="${review.getContent()}"
                                                        >
                                                            상품평
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </th:block>
                                        </table>
                                    </div>
                                </div>
                                <hr />
                                <form
                                    th:action="registerReviewAction"
                                    method="POST"
                                    enctype="multipart/form-data"
                                >
                                    <div class="contact-form-area">
                                        <div class="row">
                                            <div class="col-12 mt-30">
                                                <h1>상품평 작성</h1>
                                                <table class="regitTable">
                                                    <tbody>
                                                        <tr class="mt-30">
                                                            <th scope="row">
                                                                <label
                                                                    for="starPoint"
                                                                    class="regitTable-label"
                                                                    >별점</label
                                                                >
                                                            </th>
                                                            <td>
                                                                <select
                                                                    name="starPoint"
                                                                    id=""
                                                                >
                                                                    <option
                                                                        value="1"
                                                                        >1</option
                                                                    >
                                                                    <option
                                                                        value="2"
                                                                        >2</option
                                                                    >
                                                                    <option
                                                                        value="3"
                                                                        >3</option
                                                                    >
                                                                    <option
                                                                        value="4"
                                                                        >4</option
                                                                    >
                                                                    <option
                                                                        selected
                                                                        value="5"
                                                                        >5</option
                                                                    >
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">
                                                                <label
                                                                    for="title"
                                                                    class="regitTable-label"
                                                                    >제목</label
                                                                >
                                                            </th>
                                                            <td>
                                                                <input
                                                                    class="form-control mt-30"
                                                                    type="text"
                                                                    name="title"
                                                                />
                                                            </td>
                                                        </tr>
                                                        <tr class="mt-30">
                                                            <th scope="row">
                                                                <label
                                                                    for="content"
                                                                    class="regitTable-label"
                                                                    >상품평</label
                                                                >
                                                            </th>
                                                            <td>
                                                                <textarea
                                                                    name="content"
                                                                    id="editor"
                                                                    placeholder="상품평을 입력하세요."
                                                                ></textarea>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <input
                                                    type="hidden"
                                                    name="productId"
                                                    th:value="${product.id}"
                                                />
                                                <div class="btnCenter">
                                                    <button
                                                        class="btn delicious-btn mt-30"
                                                        type="submit"
                                                    >
                                                        등록
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Single Accordian Area -->
                        <div class="panel single-accordion">
                            <h6>
                                <a
                                    role="button"
                                    aria-expanded="true"
                                    aria-controls="collapseFour"
                                    class="collapsed"
                                    data-parent="#accordion"
                                    data-toggle="collapse"
                                    href="#collapseFour"
                                    >상품 문의
                                    <span class="accor-open"
                                        ><i
                                            class="fa fa-plus"
                                            aria-hidden="true"
                                        ></i
                                    ></span>
                                    <span class="accor-close"
                                        ><i
                                            class="fa fa-minus"
                                            aria-hidden="true"
                                        ></i
                                    ></span>
                                </a>
                            </h6>

                            <div
                                id="collapseFour"
                                class="accordion-content collapse"
                            >
                                <p>
                                    구현해야함
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Blog Area End ##### -->

        <th:block th:include="fragments/common/footer"></th:block>
        <th:block th:include="fragments/common/editor"></th:block>
        <th:block th:include="fragments/common/script"></th:block>
    </body>
</html>
