<!-- Global Navigation Bar 영역 -->


<nav class="navbar navbar-light navbar-expand-sm" style="border-bottom: 1px solid #495057;">
    <div class="container">
        <div class="dropdown">
            <button type="button" class="btn btn-outline-secondary" data-toggle="dropdown" id="dropdownTab" aria-expanded="true">
                <span class="navbar-toggler-icon"></span>
                <span style="vertical-align: middle">카테고리 전체</spna>
            </button>
            
            <div class="dropdown-menu" role="menu" aria-labelledby="dropdownTab">
                    <a href="" class="dropdown-item">123</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
</div>