<!-- Preloader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="img/core-img/salad.png" alt="" />
</div>

<!-- Search Wrapper -->
<div class="search-wrapper">
    <!-- Close Btn -->
    <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" method="post">
                    <input
                        type="search"
                        name="searchKeyword"
                        placeholder="검색어를 입력하세요."
                    />
                    <button type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-between">
                <!-- Breaking News -->
                <div class="col-12 col-sm-6">
                    <div class="breaking-news">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="#">So Fast, So Easy!</a></li>
                                <li><a href="#">Welcome to COCOFARM.</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Top Social Info -->
                <div class="col-12 col-sm-6">
                    <div class="top-social-info text-right">
                        <div class="classynav">
                            <ul th:if="${session.customer}">
                                <li>
                                    <a th:href="@{/customer/logout}"
                                        >로그아웃</a
                                    >
                                </li>
                                <li>
                                    <a th:href="@{/customer/mypage}"
                                        >마이페이지</a
                                    >
                                </li>
                                <li>
                                    <a th:href="@{/customer/mypage/orderList}"
                                        >주문배송조회</a
                                    >
                                </li>
                                <li>
                                    <a th:href="@{/customer/cart}">장바구니</a>
                                </li>
                                <li><a href="/support">고객센터</a></li>
                                <li>
                                    <a th:href="@{/seller/login}">판매자센터</a>
                                </li>
                            </ul>
                            <ul th:unless="${session.customer}">
                                <li>
                                    <a th:href="@{/customer/login}">로그인</a>
                                </li>
                                <li>
                                    <a th:href="@{/customer/join}">회원가입</a>
                                </li>
                                <li>
                                    <a th:href="@{/customer/orders}"
                                        >주문배송조회</a
                                    >
                                </li>
                                <li>
                                    <a th:href="@{/customer/cart}">장바구니</a>
                                </li>
                                <li><a href="/support">고객센터</a></li>
                                <li>
                                    <a th:href="@{/seller/login}">판매자센터</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav
                    class="classy-navbar justify-content-between"
                    id="deliciousNav"
                >
                    <!-- Logo -->
                    <a class="nav-brand" th:href="@{/index}">코코팜</a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"
                            ><span></span><span></span><span></span
                        ></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap">
                                <span class="top"></span
                                ><span class="bottom"></span>
                            </div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <!-- <li class="active"><a href="index.html">Home</a></li> -->
                                <li>
                                    <a href="#">카테고리</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="#">농산물</a>
                                            <!-- <ul class="dropdown">
                                                <li>
                                                    <a href="#">농산물 하위1</a>
                                                </li>
                                                <li>
                                                    <a href="#">농산물 하위2</a>
                                                </li>
                                                <li>
                                                    <a href="#">농산물 하위3</a>
                                                </li>
                                            </ul> -->
                                        </li>
                                        <li>
                                            <a href="#">수산물</a>
                                            <!-- <ul class="dropdown">
                                                <li>
                                                    <a href="#">수산물 하위1</a>
                                                </li>
                                                <li>
                                                    <a href="#">수산물 하위2</a>
                                                </li>
                                                <li>
                                                    <a href="#">수산물 하위3</a>
                                                </li>
                                            </ul> -->
                                        </li>
                                        <li>
                                            <a href="#">가공식품</a>
                                            <!-- <ul class="dropdown">
                                                <li>
                                                    <a href="#"
                                                        >가공식품 하위1</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="#"
                                                        >가공식품 하위2</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="#"
                                                        >가공식품 하위3</a
                                                    >
                                                </li>
                                            </ul> -->
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/about">소개</a></li>
                                <!-- <li><a href="#">4 Vegans</a></li>
                                <li><a href="#">Contact</a></li> -->
                            </ul>

                            <!-- Newsletter Form -->
                            <div class="search-btn">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
