<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>카테고리 상품 - 코코팜</title>
  <link rel="stylesheet" href="../../../static/style.css">

<body>
  <!-- header -->
  <th:block th:include="fragments/common/header"></th:block>

  <!-- ##### Tabs ##### -->
  <div class="col-12 col-lg-6">
    <div class="delicious-tabs-content">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="tab--1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
            aria-selected="false">과일</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="tab--2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
            aria-selected="false">채소</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab--3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
            aria-selected="true">가공식품</a>
        </li>
      </ul>

      <div class="tab-content mb-80" id="myTabContent">
        <div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="tab--1">
          <div class="delicious-tab-content">
            <!-- Tab Text -->
            <div class="delicious-tab-text">
              <section class="best-receipe-area">
                <div class="container">
                  <div class="row">

                    <div class="row">
                      <!-- Single Best Receipe Area -->
                      <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                          <img src="../static/img/product-img/apple.jpg" alt="사과">
                          <div class="receipe-content">
                            <a href="#">
                              <h5>사과</h5>
                            </a>
                            <div>
                              <span class="product-price">123,456</span><span class="product-won">원</span>
                            </div>
                            <p>상품설명:Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                          </div>
                        </div>
                      </div>

                      <!-- Single Best Receipe Area -->
                      <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                          <img src="../static/img/product-img/korean melon.jpg" alt="참외">
                          <div class="receipe-content">
                            <a href="#">
                              <h5>참외</h5>
                            </a>
                            <div>
                              <span class="product-price">123,456</span><span class="product-won">원</span>
                            </div>
                            <p>상품설명:Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                          </div>
                        </div>
                      </div>

                      <!-- Single Best Receipe Area -->
                      <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                          <img src="../static/img/product-img/cabbage.jpg" alt="양배추">
                          <div class="receipe-content">
                            <a href="#">
                              <h5>양배추</h5>
                            </a>
                            <div>
                              <span class="product-price">123,456</span><span class="product-won">원</span>
                            </div>
                            <p>상품설명:Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                          </div>
                        </div>
                      </div>

                      <!-- Single Best Receipe Area -->
                      <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                          <img src="../static/img/product-img/cuttlefish.jpg" alt="오징어">
                          <div class="receipe-content">
                            <a href="#">
                              <h5>오징어</h5>
                            </a>
                            <div>
                              <span class="product-price">123,456</span><span class="product-won">원</span>
                            </div>
                            <p>상품설명:Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                          </div>
                        </div>
                      </div>

                      <!-- Single Best Receipe Area -->
                      <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                          <img src="../static/img/product-img/daikon.jpg" alt="무">
                          <div class="receipe-content">
                            <a href="#">
                              <h5>무</h5>
                            </a>
                            <div>
                              <span class="product-price">123,456</span><span class="product-won">원</span>
                            </div>
                            <p>상품설명:Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                          </div>
                        </div>
                      </div>

                      <!-- Single Best Receipe Area -->
                      <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                          <img src="../static/img/product-img/garlic.jpg" alt="마늘">
                          <div class="receipe-content">
                            <a href="#">
                              <h5>마늘</h5>
                            </a>
                            <div>
                              <span class="product-price">123,456</span><span class="product-won">원</span>
                            </div>
                            <p>상품설명:Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </section>
            </div>
          </div>
        </div>
        <div class="tab-pane fade show active" id="tab2" role="tabpanel" aria-labelledby="tab--2">
          <div class="delicious-tab-content">
            <!-- Tab Text -->
            <div class="delicious-tab-text">
              <p>Integer nec bibendum lacus. Praesent malesuada congue, Suspendisse dictum enim sit amet
                libero malesu ada feugiat. Praesent malesuada congue magna at finibus. In hac habitasse
                platea dictumst. Curabitur rhoncus auctor eleifend. Praesent malesuada congue.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab--3">
          <div class="delicious-tab-content">
            <!-- Tab Text -->
            <div class="delicious-tab-text">
              <p>Integer nec bibendum lacus. Praesent malesuada congue, Suspendisse dictum enim sit amet
                libero malesu ada feugiat. Praesent malesuada congue magna at finibus. In hac habitasse
                platea dictumst. Curabitur rhoncus auctor eleifend. Praesent malesuada congue.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <th:block th:include="fragments/common/footer"></th:block>

  <th:block th:include="fragments/common/script"></th:block>
</body>

</html>