<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <!-- 페이지 공통 header -->
  <th:block th:replace="fragments/header :: header"></th:block>

  <body id="page-top" th:align="center">
    <div><h1>코코팜</h1></div>
    <hr />
    <div id="wrapper">
      <div id="contents-wrapper">
        <div id="contents">
          <!-- 상단 네비게이션 바 -->
          <th:block th:replace="fragments/navigation :: navigation"></th:block>
          <hr />
          <th:block layout:fragment="contents">
            <!-- 컨텐츠 영역 -->
            <a href="/login">로그인</a>
            <a href="/join">회원가입</a>
          </th:block>
          <hr />
        </div>
        <!-- 페이지 공통 footer -->
        <th:block th:replace="fragments/footer :: footer"></th:block>
      </div>
    </div>
    <!-- 페이지 공통 script -->
    <th:block th:replace="fragments/script :: script"></th:block>
  </body>
</html>
