<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <th:block th:include="fragments/common/head"></th:block>
</head>
<body>
    
    <!-- Search Wrapper -->
    <div class="search-wrapper">
      <!-- Close Btn -->
      <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
  
      <div class="container">
        <div class="row">
          <div class="col-12">
            <form action="#" method="post">
              <input type="search" name="search" placeholder="Type any keywords...">
              <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Navbar -->
    <th:block th:include="fragments/common/navbar"></th:block>
    <br>
    <br>

    <!-- Content Wrapper. Contains page content -->
    <th:block th:include="${template}"></th:block>
    <!-- /.content-wrapper -->

    <th:block th:include="fragments/common/footer"></th:block>

  </div>
  <!-- ./wrapper -->

  <th:block th:include="fragments/common/script"></th:block>
</body>
</html>