<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>주문결제 - 코코팜</title>
    <link rel="stylesheet" href="../../../static/style.css">
</head>

<body>
    <!-- header -->
    <th:block th:include="fragments/common/header"></th:block>

    <form action="" method="post">
        <!-- ##### About Area Start ##### -->
        <section class="about-area section-padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h3>주문결제</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <!-- 주문내역 -->
                        <h5>주문 상품 확인</h5>
                        <table border="2" class="col">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">상품/옵션정보</th>
                                    <th scope="col" colspan="1">수량</th>
                                    <th scope="col" colspan="1">상품금액</th>
                                    <th scope="col" colspan="1">배송비</th>
                                    <th scope="col" colspan="1">판매자</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="1">
                                        <div>
                                            <a href="#"><img src="" alt="상품사진"></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div><a href="#">
                                                (딱~오늘하루만 7900원) 새콤달콤 싱싱 딱~먹기좋은 부사 햇사과 7-8kg / 9kg
                                            </a></div>
                                    </td>
                                    <td>1개</td>
                                    <td>123,456원</td>
                                    <td rowspan="1">3,000원</td>
                                    <td>홍길동</td>
                                </tr>
                            </tbody>
                        </table>
                        <div>최종 결제 금액</div>
                        <!-- 배송지 입력 -->
                        <h5>배송지 정보 입력</h5>
                        <table border="2">
                            <tbody>
                                <tr>
                                    <th scope="row">배송지선택</th>
                                    <td>
                                        <input type="radio">기본배송지
                                        <input type="radio">최근배송지
                                        <input type="radio">직접입력
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">받으시는 분</th>
                                    <td>
                                        <input type="text" name="" id="" title="받으시는 분">
                                        <button type="button">변경</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">주소</th>
                                    <td>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12 col-lg-6">
                                                    <input type="text" class="form-control" id="postcode"
                                                        name="postcode" placeholder="우편번호">
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <input type="button" class="form-control"
                                                        onclick="searchDaumPostcode()" value="우편번호 찾기">
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <input type="text" class="form-control" id="address" name="address"
                                                        placeholder="주소">
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <input type="text" class="form-control" id="extraAddress"
                                                        placeholder="참고항목">
                                                </div>
                                                <div class="col-12">
                                                    <input type="text" class="form-control" id="detailAddress"
                                                        name="detailAddress" placeholder="상세주소">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">휴대전화</th>
                                    <td>
                                        <input type="number" class="form-control" name="contact"
                                            placeholder="PhoneNumber">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">배송시요청사항</th>
                                    <td>
                                        <input type="text" class="form-control" name="ordermsg"
                                            placeholder="배송 메시지를 입력하세요">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">주문자 정보</th>
                                    <td>
                                        <P>홍길동</P>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 결제 -->
                        <h5>결제 방법 선택</h5>
                        <div>
                            <div>
                                <input type="radio">카카오페이
                            </div>
                            <div>
                                카카오페이 결제 모듈 추가
                            </div>
                            <button type="submit">결제하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### About Area End ##### -->
    </form>

    <!-- footer -->
    <th:block th:include="fragments/common/footer"></th:block>
    <th:block th:include="fragments/common/script"></th:block>
</body>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function searchDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if (data.userSelectedType === 'R') {
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("extraAddress").value = extraAddr;

                } else {
                    document.getElementById("extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }
</script>

</html>