<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>상품검색 - 코코팜</title>
  <link rel="stylesheet" href="../../../static/style.css">
</head>

<body>
  <!-- header -->
  <th:block th:include="fragments/common/header"></th:block>

  <section class="best-receipe-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading">
            <br>
            <h2>상품검색</h2>
            <br>
            <h4 th:text="${searchKeyword}+' 검색결과'"></h4>
          </div>
        </div>
      </div>

      <div class="row">
        <th:block th:each="product : ${productList}">
          <!-- Single Best Receipe Area -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-best-receipe-area mb-30">
              <img src="../static/img/product-img/apple.jpg" alt="사과">
              <div class="receipe-content">
                <a th:href="@{/productDetailView/{productId}(productId=${product.getId()})}">
                  <h5 th:text="${product.getName()}"></h5>
                </a>
                <div>
                  <span th:text="${product.getPrice()}"></span><span class="product-won">원</span>
                </div>
                <p th:text="${product.getDescription()}"></p>
              </div>
            </div>
          </div>
        </th:block>

      </div>
    </div>
  </section>

  <!-- footer -->
  <th:block th:include="fragments/common/footer"></th:block>
  <th:block th:include="fragments/common/script"></th:block>
</body>

</html>