<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매자 회원가입</title>
</head>

<body>
    <form th:action="@{joinSellerAction}" method="POST">
        <th th:text="'사업자 번호'"></th>
        <input type="text" name="sellerCode"><br>
        <th th:text="'비밀번호'"></th>
        <input type="password" name="password"><br>
        <th th:text="'계좌번호'"></th>
        <input type="text" name="account" placeholder="계좌번호를 숫자만 입력하세요">
        <hr>
        <input type="submit" value="가입하기">
    </form>
    <hr>
    <a href="loginSeller">로그인하러 가기</a>
</body>

</html>