<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>코코팜</title>
    </head>
    <body th:align="center">
        <div>
            <h1>탈퇴하시겠습니까?</h1>
        </div>
        <div>
            <form th:action="@{/customer/deleteAction}" method="POST">
                <input type="submit" value="탈퇴하기" />
            </form>
        </div>
    </body>
</html>
