<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:include="fragments/common/head"></th:block>
    <title>회원가입 - 코코팜</title>
    
</head>

<body>

    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <!-- Close Btn -->
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Type any keywords...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- header -->
    <th:block th:include="fragments/common/header"></th:block>

    <!-- Content Wrapper. Contains page content -->
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>회원가입</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- Receipe Content Area -->
    <div class="receipe-content-area">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-left">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="contact-form-area">
                        <form th:action="@{/customer/joinAction}" method="post" th:object="${registerDto}">
                            <div class="row">
                                <div class="col-12 ">
                                    <input type="email" class="form-control" th:field="*{email}" placeholder="E-mail">
                                </div>
                                <div class="col-12 ">
                                    <input type="password" class="form-control" th:field="*{password}" placeholder="Password">
                                </div>
                                <div class="col-12 ">
                                    <input type="text" class="form-control" th:field="*{name}" placeholder="Name">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control" th:field="*{contact}" placeholder="PhoneNumber">
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <input type="text" class="form-control" id="postcode" th:field="*{postcode}" onclick="searchDaumPostcode()"
                                                placeholder="우편번호" readonly>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <input type="button" class="form-control" onclick="searchDaumPostcode()"
                                                value="우편번호 찾기">
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <input type="text" class="form-control" id="address" th:field="*{address}" onclick="searchDaumPostcode()"
                                                placeholder="주소" readonly>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <input type="text" class="form-control" id="extraAddress" onclick="searchDaumPostcode()"
                                                placeholder="참고항목" readonly>
                                        </div>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="detailAddress"
                                                th:field="*{detailAddress}" placeholder="상세주소">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn delicious-btn mt-30" type="submit">회원가입</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- /.content-wrapper -->

    <th:block th:include="fragments/common/footer"></th:block>

    </!DOCTYPE>
    <!-- ./wrapper -->

    <th:block th:include="fragments/common/script"></th:block>
</body>

<th:block th:include="fragments/common/postCode"></th:block>


</html>