<script type="text/javascript">
    function trackingUrl() {
        var a = document.getElementById("courierCode");
        var b = document.getElementById("trackingNumber");

        var url =
            "https://tracker.delivery/#/" +
            a.innerText +
            "/" +
            b.innerText;

        window.open(
            url,
            "배송 추적",
            "width=600, height=800, location=no"
        );
    }
</script>

<script type="text/javascript">
    function checkDelivered() {
        var a = document.getElementById("courierCode");
        var b = document.getElementById("trackingNumber");

        var link =
            "https://apis.tracker.delivery/carriers/" +
            a.innerText +
            "/tracks/" +
            b.innerText;

        $.getJSON(
            "https://apis.tracker.delivery/carriers/kr.cjlogistics/tracks/356415897924",
            function (data) {
                if (data.state.id == "delivered") {
                    var html = [];
                    html.push('<div class="badge"> 배송 완료 </div>');
                    html.push(
                        '<div><button type="button" class="badge badge-primary" th:onclick="#"> 구매 확정 </button></div>'
                    );
                    html.push(
                        '<div><button type="button" class="badge badge-primary" th:onclick="#"> 리뷰 작성 </button></div> '
                    );
                    $("#delivered").html(html.join(""));
                }
            }
        );
    }
</script>


<!-- 콘텐츠 -->
<div class="container">
    <div class="row">

        <!-- 콘텐츠 영역 -->
        <div class="col-sm-10">
            <!-- 브레드크럼 : 경로 -->
            <div class="mt-10">
                <ol class="breadcrumb">
                    <li><a th:href="@{/}">홈</a></li>
                    >
                    <li>
                        <a th:href="@{/customer/mypage}">마이페이지</a>
                    </li>
                    >
                    <li class="active">주문/배송 내역</li>
                </ol>
            </div>

            <h3>주문/배송 내역</h3>
            <!-- 조회기간 쿼리 -->
            <div class="mt-30" style="height: 70px;">
                <form action="" method="GET">
                    <div class="input-group">
                        <span class="btn">조회기간</span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary">
                                1주일
                            </button>
                            <button type="button" class="btn btn-secondary">
                                1개월
                            </button>
                            <button type="button" class="btn btn-secondary">
                                3개월
                            </button>
                            <button type="button" class="btn btn-secondary">
                                6개월
                            </button>
                        </div>
                        <input class="form-control" type="date" name="startDate" min="2000-01-01" />
                        <input class="form-control" type="date" name="endDate" />
                        <button type="button" class="btn btn-secondary">
                            조회
                            <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                    clip-rule="evenodd" />
                                <path fill-rule="evenodd"
                                    d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>

            <h4>주문내역</h4>
            <div class="mt-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center; width: 14%;">
                                주문일자
                            </th>
                            <th scope="col" style="text-align: center; width: 8%;">
                                주문번호
                            </th>
                            <th scope="col" style="text-align: center;">
                                상품정보
                            </th>
                            <th scope="col" style="text-align: center; width: 15%;">
                                주문금액
                            </th>
                            <th scope="col" style="text-align: center; width: 15%;">
                                상태
                            </th>
                        </tr>
                    </thead>
                    <tbody th:each="orderDisplayDto : ${orderList}">
                        <tr th:object="${orderDisplayDto}">
                            <!-- 주문일자 -->
                            <td style="
                                            text-align: center;
                                            vertical-align: middle;
                                        " th:text="*{#temporals.format(createdTimestamp, 'yyyy년 MM월 dd일')}"
                                    ></td>

                                    <!-- 주문번호 -->
                                    <td
                                        style="
                                            text-align: center;
                                            vertical-align: middle;
                                        "
                                    >
                                        <a
                                            th:href="@{/customer/orderDatailInfo(orderId=*{id})}"
                                            style="color: #212529;"
                                            th:text="*{id}"
                                        ></a>
                                    </td>

                                    <!-- 상품정보 -->
                                    <td
                                        style="vertical-align: middle;"
                                        th:text="*{productName}"
                                    ></td>
                                    <!-- 상품금액 -->
                                    <td
                                        style="
                                            text-align: right;
                                            vertical-align: middle;
                                        "
                                        th:text="*{productTotalPrice}"
                                    ></td>

                                    <td
                                        th:if="${orderDisplayDto.delivery}"
                                        id="courierCode"
                                        th:text="*{delivery.courierCode}"
                                        hidden
                                    ></td>
                                    <td
                                        th:if="${orderDisplayDto.delivery}"
                                        id="trackingNumber"
                                        th:text="*{delivery.trackingNumber}"
                                        hidden
                                    ></td>

                                    <!-- 상태 -->

                                    <td
                                        style="
                                            text-align: center;
                                            vertical-align: middle;
                                        "
                                    >
                                        <div th:if="${orderDisplayDto.delivery}">
                                            <button
                                                type="button"
                                                class="badge badge-primary"
                                                th:onclick="|javascript:trackingUrl()|"
                                            >
                                                배송 조회
                                            </button>

                                            <script>
                                                checkDelivered();
                                            </script>
                                            <div id="delivered"></div>
                                            
                                        </div>
                                        <!-- <a th:href="@{/product/productDetailView/{productId}(productId=*{productId})}">
                                            <span class="badge badge-primary">리뷰작성</span>
                                        </a> -->
     
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
    