<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:include="fragments/common/head"></th:block>

    <title>회원정보 수정 - 코코팜</title>

    <style>
        .middle {
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <!-- header -->
    <th:block th:include="fragments/common/header"></th:block>

    <!-- Receipe Content Area -->
    <div class="receipe-content-area">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-left">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="contact-form-area">
                        <form th:action="@{updateUserAction}" method="post">
                            <div class="row">
                                <div class="col-12 ">
                                    <input type="email" class="form-control" th:value="${session.user.getEmail()}" name="email" disabled="disabled">
                                </div>
                                <div class="col-12 ">
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                                <div class="col-12 ">
                                    <input type="text" class="form-control" name="name" placeholder="Name">
                                </div>
                                <div class="col-12">
                                    <input type="number" class="form-control" name="contact" placeholder="PhoneNumber">
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn delicious-btn mt-30 middle" type="submit">회원정보수정</button>
                                <button class="btn delicious-btn mt-30 middle" type="submit" formaction="@{deleteUserAction}"
                                    formmethod="POST">탈퇴하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <th:block th:include="fragments/common/footer"></th:block>
    <th:block th:include="fragments/common/script"></th:block>
</body>

</html>