<!-- 콘텐츠 -->
<div class="container">
    <div class="row">

        <!-- 콘텐츠 영역 -->
        <div class="col-sm-10">

            <h3>문의 내역</h3>
            <!-- 조회기간 쿼리 -->
            <div class="mt-30" style="height: 70px;">
                <form action="" method="GET">
                    <div class="input-group">
                        <span class="btn">조회기간</span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary">
                                1주일
                            </button>
                            <button type="button" class="btn btn-secondary">
                                1개월
                            </button>
                            <button type="button" class="btn btn-secondary">
                                3개월
                            </button>
                            <button type="button" class="btn btn-secondary">
                                6개월
                            </button>
                        </div>
                        <input class="form-control" type="date" name="startDate" min="2000-01-01" />
                        <input class="form-control" type="date" name="endDate" />
                        <button type="button" class="btn btn-secondary">
                            조회
                            <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                    clip-rule="evenodd" />
                                <path fill-rule="evenodd"
                                    d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>

            <h4>문의 내역</h4>
            <div class="mt-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center; width: 15%;">
                                문의번호
                            </th>
                            <th scope="col" style="text-align: center; width: 45%;">
                                제목
                            </th>
                            <th scope="col" style="text-align: center; width: 20%;">
                                작성자
                            </th>
                            <th scope="col" style="text-align: center; width: 20%;">
                                작성날짜
                            </th>
                        </tr>
                    </thead>
                    <tbody th:each="questionDto : ${questionList}">
                        <tr th:object="${questionDto}">

                            <a th:href="@{/order/details(id=3)}">

                            <td style="vertical-align: middle;
                                         text-align: center;" th:text="*{id}" id = "id"></td>


                            <td style="vertical-align: middle;">
                                <a th:data-url="@{/product/answer/{questionId}(questionId=${questionDto.Id})}"
                                onclick="window.open(this.getAttribute('data-url'))"
                                th:text="*{title}"></a>
                            </td>

                            <td style="
                                            text-align: center;
                                            vertical-align: middle;
                                        " th:text="*{customer.name}"></td>

                            <td style="
                                            text-align: center;
                                            vertical-align: middle;
                                        " th:text="*{#temporals.format(createdTimestamp, 'yyyy년 MM월 dd일')}"
                                        ></td>

                            </a>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
    